.prevent-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
}

.wrapper {
    background: rgb(46,36,39);
    background: linear-gradient(90deg, rgba(46,36,39,1) 0%, rgba(57,45,40,1) 5%, rgba(112,80,44,1) 21%, rgba(255,149,0,1) 100%);


    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.name {
    color: white;
    padding-top: 15%;
    margin-bottom: 5%;
    font-size: 10rem;
    width: 100%;
    position: relative;
    text-align: center;
}

.description {
    text-align: center;
    padding-top: 0px;
    margin-bottom: 150px;
}

.description-link {
    text-decoration: underline transparent;
    transition: text-decoration 0.5s ease;
}

.description-link:hover {
    text-decoration: underline;
}